/* Media Queries for AppWorks Website */

:root {
    --primary-color: #ff8801;
    --bg-primary: #000608;
    --text-primary: #ddd;
}

/*------------------- Small Screen -------------------*/
@media (min-width: 576px) {

    /* -- Hero -- */
    .hero-wrapper h2 {
        font-size: 4em;
    }

    .hero-wrapper p {
        font-size: 1.6em;
    }

    .hero-buttons {
        width: inherit;
        flex-direction: row;
        gap: 2rem;
        align-items: end;
        justify-content: center;
    }

    .hero-buttons button {
        margin: 0;
    }

    /* -- Main Titles */
    .main-title {
        font-size: 2.8rem;
    }

    /* -- Our Services --*/
    .service-wrapper {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }

    /*-- Featured Projects --*/
    .project {
        width: 500px;
    }

    /*-- Footer --*/
    .footer-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
    }

    .footer-list ul {
        width: 250px;
    }
}

/*------------------- Medium Screen -------------------*/
@media (min-width: 768px) {

    /* Navbar */
    #navbar-toggle,
    .navbar-menu {
        display: none;
    }

    .navbar-links {
        display: block !important;
    }

    .navbar-links ul {
        display: flex;
        gap: 1rem;
    }

    .navbar-links ul li {
        list-style: none;
    }

    .navbar-links ul li a {
        text-decoration: none;
        color: inherit;
    }

    .navbar-links ul li a:hover {
        color: var(--primary-color);
    }

    /*-- Featured Projects --*/
    .project-list {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }

    .project {
        width: 300px;
    }

    .hide-on-mobile {
        display: block !important;
    }
}

/*------------------- Large Screen -------------------*/
@media (min-width: 992px) {

    /* Navbar */
    .navbar {
        padding: 1rem 10rem;
    }

    /* About */
    .about p {
        padding: 0 8rem;
    }

    /* Featured Projects */
    .project {
        width: 400px;
    }

    /* Client Voices */
    .testimony {
        width: 800px;
        height: 300px;
        flex-direction: row;
        gap: 5rem;
        align-items: center;
        justify-content: space-around;
    }

    .testimony .client-detail {
        width: 300px;
    }

    .client-profile {
        width: 150px;
        height: 150px;
    }

    .testimony>p {
        width: 500px;
        height: 50%;
        font-size: 1.2rem;
    }

    /* Call To Action */
    .cta {
        padding: 8rem 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cta-title {
        width: 50%;
        font-size: 50px;
    }

    /* All */
    .about,
    .our-services,
    .featured-projects {
        padding: 8rem;
    }
}

/*------------------- Extra Large Screen -------------------*/
@media (min-width: 1200px) {
        /* Header */
    .header {
        background: url(img/bg-try.webp) center / cover no-repeat;
    }

    /* Hero */
    .hero {
        background: linear-gradient(90deg,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.0),
                rgba(0, 0, 0, 0));
    }

    .hero-wrapper {
        width: 800px;
        background: none;
    }

    .hero-wrapper h2 {
        font-size: 3em;
    }

    .hero-wrapper p {
        font-size: 1.3em;
        padding: 0 4rem;
        margin-bottom: 0;
    }
}